#email{
    padding: 50px;
    margin-top: 50px;
    width: 500px;
    border: 5px solid darkgray;
}
#confidential{
    display:inline-block;
    padding: 10px;
    margin-left: 5px;
    border: 5px solid red;
     transform:rotate(15deg);
      /* tranform helps me to choose rotation to rotate what i want to rotate */ 
}
#top-secret{
    display: inline-block;
    padding: 10px;
    margin-left: 200px;
    border: 5px solid red;
  transform:rotate(15deg);
}
.blurr{
    filter: blur(3px); 
}
